{% extends 'default/game.html.twig' %}

{% block content %}
<h2>Le secret d'un repas de Noël réussi</h2>
<div class="container" style="text-align:center">
    <input type="text" placeholder="Entrez votre réponse" value=""/>
    <div class="col-lg-12 col-sm-12 wow">
        <div class="service-list">

            <br>
            <form action="/game" method="POST">
                <input type="hidden" name="vote_stage" value="vote_stage"/>
                <input type="submit" id="createButton" class="link animated fadeInUp delay-05s" value="Valider"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}