{% extends 'default/game.html.twig' %}

{% block content %}
<h2>Le pire cadeau d'anniversaire</h2>
<div class="container" style="text-align:center">
    <input type="text" placeholder="Entrez votre réponse" value=""/>
    <div class="col-lg-12 col-sm-12 wow">
        <div class="service-list">

            <br>
            <a id="createButton" class="link animated fadeInUp delay-05s" onclick="javascript:proposalSubmitted()">Valider</a>
        </div>
    </div>
</div>
{% endblock %}