{% extends 'default/game.html.twig' %}

{% block content %}
<div id="game_timer"></div>
<div id="game_code">R2D2</div>
<div id="float_clear"></div>

<h2>Le pire cadeau d'anniversaire</h2>

<div class="container" style="text-align:center">
    <div class="col-lg-12 col-sm-12 wow">
        <div class="service-list">
            <form action="/game" method="POST" name="proposition_form" id="proposition_form">
                <input type="text" size="40" style="text-align: center; height: 50px; font-size: 25px;" name="answer"
                       placeholder="Entrez votre réponse" value="" autocomplete="off"/>
                <br>
                <br>
                <input type="hidden" name="vote_stage" value="vote_stage"/>
                <input type="hidden" name="scores" value="scores"/>
                <input type="submit" id="createButton" class="link animated fadeInUp delay-05s" value="Valider"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}