{% extends 'default/game.html.twig' %}

{% block content %}
<div id="game_timer"></div>
<div id="game_code">R2D2</div>
<div id="float_clear"></div>

<h2>Phase de jeu</h2>

<div class="container" style="text-align:center">
    <div class="col-lg-12 col-sm-12 wow">
        <div class="service-list">
            Veuillez patienter...<br/>
            Les participants sont en train de faire leur choix.
        </div>
    </div>

    <!-- Liste des participants -->
    <div id="div_table_participants_game_stage">
        <table id="table_participants">
            <tr>
                <td id="player_0">Test</td>
                <td id="player_1">RadiUm</td>
                <td id="player_2">Tatawa</td>
                <td id="player_3">Shou</td>

                <td id="player_4">Lina</td>
                <td id="player_5">Kévin</td>
                <td id="player_6">Henry Michel</td>
                <td id="player_7">Clém</td>
            </tr>
            <tr><td colspan="8">Audience : 12</td></tr>
        </table>
    </div>


    <form action="/game" method="POST" name="proposition_form" id="proposition_form">
        <input type="hidden" name="vote_stage" value="vote_stage"/>
    </form>
</div>
{% endblock %}