{% extends 'default/game.html.twig' %}

{% block content %}
<h2>Question PLACEHOLDER</h2>
<div class="container" style="text-align:center">
    <input type="text" placeholder="Entrez votre réponse" value=""/>
    <input type="submit" value="Valider"/>
</div>
{% endblock %}