{% extends 'default/game.html.twig' %}

{% block content %}
<h2>Scores</h2>
<div class="container" style="text-align:center">
    <div class="col-lg-12 col-sm-12 wow">
        <div class="service-list">
            1. Test
            2. Radium
            3. Chou
            4. Tatawa
            5. Clém
            6. Lina
            7. Elyo
            8. Kevin
        </div>
    </div>
</div>
{% endblock %}