{% extends 'default/game.html.twig' %}

{% block content %}
<h2>Scores</h2>
<div style="text-align:center">
    <div class="col-lg-12 col-sm-12 wow">
        <div class="service-list">
            <table class="leaderboard_content">
                <tr>
                    <th>Position</th>
                    <th>Joueur</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>1<img src="{{ asset("img/gold-medal.svg") }}" height="30px" width="30px" alt="gold-medal"/></td>
                    <td>HenryMichel</td>
                    <td>9300</td>
                </tr>

                <tr>
                    <td>2<img src="{{ asset("img/silver-medal.svg") }}" height="30px" width="30px"  alt="silver-medal"/></td>
                    <td>Radium</td>
                    <td>7000</td>
                </tr>

                <tr>
                    <td>3<img src="{{ asset("img/bronze-medal.svg") }}" height="30px" width="30px"  alt="bronze-medal"/></td>
                    <td>Chou</td>
                    <td>6800</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Tatawa</td>
                    <td>5400</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>Clém</td>
                    <td>4700</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>Lina</td>
                    <td>4200</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>Test</td>
                    <td>3600</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>Kevin</td>
                    <td>900</td>
                </tr>
            </table>
            <br>

            <form action="/game" method="POST">
                <input type="submit" id="createButton" class="link animated fadeInUp delay-05s" name="game_stage_participant" value="Refaire une manche"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}