{% extends 'base.html.twig' %}

{% block body %}
<section class="main-section" id="play">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-lg-12 col-sm-12 wow">
                <div class="service-list">

                    <!--TODO : Aspect fonctionnel avec WebSocket -->
                    <!--TODO : Création du design -->
                    Votre salon

                    Id Créateur : {{ room._host }}<br/>
                    Liste des participants : A venir<br/>
                    Liste de l'audience : A venir<br/>
                    Maximum de participants : {{ room._capParticipants }}<br/>
                    Type : {{ room._type }}<br/>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
