{% extends 'base.html.twig' %}

{% block body %}
<section class="main-section" id="play">
    <div class="container">
        <h2>Jouer</h2>
        <h6>Créer une salle de jeu ou en rejoindre une.</h6>
        <div class="row" style="text-align: center;">
            <div class="col-lg-12 col-sm-12 wow">
                <div class="service-list">
                    <a id="createButton" class="link animated fadeInUp delay-05s" href="#">Créer</a>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 wow">
                <div class="service-list">
                    <a id="joinButton" class="link animated fadeInUp delay-05s" href="#">Rejoindre</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}