{% extends 'base.html.twig' %}

{% block body %}
    <section class="main-section" id="saloon">
        <div class="container">
            EN CONSTRUCTION
        </div>
    </section>
{% endblock %}