{% extends 'base.html.twig' %}

{% block title %}Ajouter des questions{% endblock %}

{% block body %}
    <section class="main-section" id="saloon">
        <div class="container">
            <h2>Questions</h2>
            <h6>Participez au jeu en proposant vos propres questions ou phrases à trou.</h6>
            <div class="col-lg-12 col-sm-12 wow">
                <div class="service-list" style="display: flex; align-items: center; justify-content: center; font-size: 5vh; color: red">
                    EN CONSTRUCTION
                </div>
            </div>
        </div>
    </section>
{% endblock %}