{% extends 'base.html.twig' %}

{% block title %}Ajouter des questions{% endblock %}

{% block body %}
    <section class="main-section" id="saloon">
        <div class="container">
            <h2>Questions</h2>
            <h6>Participez au jeu en proposant vos propres questions ou phrases à trou.</h6>
            EN CONSTRUCTION
        </div>
    </section>
{% endblock %}