{% extends 'base.html.twig' %}

{% block title %}Saloon{% endblock %}

{% block body %}
    <section class="main-section" id="saloon">
        <h2>Saloon</h2>
        <h6>Consulter les salles de jeu disponibles.</h6>
        <div class="container">
            <table class="table table-hover table-bordered table-responsive" style="height: 100px; overflow:auto;">
                <tr class="active">
                    <th>Nom de la partie</th>
                    <th>Nombre de joueurs</th>
                    <th>Nombre de jury</th>
                    <th>Etat de la partie</th>
                </tr>
                <tr>
                    <td>Partie de john</td>
                    <td>3/8</td>
                    <td>15</td>
                    <td>Attente - Salon</td>
                </tr>
                <tr>
                    <td>Partie de john</td>
                    <td>3/8</td>
                    <td>15</td>
                    <td>Attente - Salon</td>
                </tr>
                <tr>
                    <td>Partie de john</td>
                    <td>3/8</td>
                    <td>15</td>
                    <td>Attente - Salon</td>
                </tr>
                <tr>
                    <td>Partie de john</td>
                    <td>3/8</td>
                    <td>15</td>
                    <td>Attente - Salon</td>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}