{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h6 style="align-content: center; margin-top: 25vh; font-size: 4vh;">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h6>
    <img style="align-content: center; margin-left: 45vw;" src="{{ asset('img/Icone.svg') }}">
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
