{% trans_default_domain 'FOSUserBundle' %}

<section class="main-section" id="register">
    <div class="container">
        <h2>S'inscrire</h2>
        <h6>S'inscrire pour profiter de statistiques de jeu, et plus encore..</h6>
        <div class="row">
            <div class="form">

                <ul class="tab-group">
                    <li class="tab active"><a style="width: 100%;">Inscription</a></li>
                </ul>

                <div id="fos_user_registration_form" class="tab-content">

                    <h1>Inscris-toi et amuse-toi !</h1>

                    <form action="/register/" method="post">

                        {{ form_widget(form._token) }}

                        <div class="field-wrap">
                            <label>
                                Pseudo<span class="req">*</span>
                            </label>
                            <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" autocomplete="off" />
                        </div>

                        <div class="field-wrap">
                            <label>
                                Email<span class="req">*</span>
                            </label>
                            <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" autocomplete="off" />
                        </div>

                        <div class="field-wrap">
                            <label>
                                Mot de passe<span class="req">*</span>
                            </label>
                            <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" />
                        </div>

                        <div class="field-wrap">
                            <label>
                                Confirmer le mot de passe<span class="req">*</span>
                            </label>
                            <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" />
                        </div>

                        <input type="submit" class="button button-block" value="Valider" />

                    </form>

                </div><!-- tab-content -->

            </div> <!-- /form -->

        </div>
    </div>
</section>

