{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<section class="main-section" id="log">
    <div class="container">
        <h2>Se connecter</h2>
        <h6>Connectez-vous à votre compte ou jouez en tant qu'invité.</h6>
        <div class="row">
            <div class="form">

                <ul class="tab-group">
                    <li class="tab active"><a href="#login">Se connecter</a></li>
                    <li class="tab"><a href="#guest">Mode invité</a></li>
                </ul>

                <div class="tab-content">
                    <div id="login">
                        <h1>De retour pour tous les battre ?</h1>

                        <form action="{{ path("fos_user_security_check") }}" method="post">

                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}

                            <div class="field-wrap">
                                <label>
                                    Pseudo<span class="req">*</span>
                                </label>
                                <input type="text" id="username" name="_username" required="required" /><!--value="{#{{ last_username }}#}"-->
                            </div>

                            <div class="field-wrap">
                                <label>
                                    Mot de passe<span class="req">*</span>
                                </label>
                                <input type="password" id="password" name="_password" required="required" />
                            </div>

                            <!--<div class="field-wrap">
                                <label for="remember_me">Se souvenir de moi</label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            </div>-->

                            <!--<div>
                                <label class="checkbox-2">
                                    <input type="checkbox" checked>
                                    <span></span>
                                    checkbox-2
                                </label>
                            </div>-->

                            <input type="submit" id="_submit" name="_submit" class="button button-block" value="Se connecter" />

                        </form>

                    </div>

                    <div id="guest">
                        <h1>Connecte-toi en invité</h1>

                        <form action="/" method="post">

                            <div class="field-wrap">
                                <label>
                                    Pseudo<span class="req">*</span>
                                </label>
                                <input type="text" id="username" name="_username" required="required" />
                            </div>

                            <button class="button button-block"/>C'est parti !</button>

                        </form>

                    </div>

                </div><!-- tab-content -->

            </div> <!-- /form -->

        </div>
    </div>
</section>
